// Header
header {
  background-color: $bg-black-color;
  color: $text-white-color;

  nav {
    display: flex;
    align-items: center;
  }

  .first-nav-bar {
    justify-content: flex-end;
    font-size: $size-sub-text;
    color: $text-grey-color;

    i {
      font-size: 15px;
      color: #28acff;
    }

    a {
      color: $text-grey-color;
      text-decoration: none;
      margin-left: 5px;

      &:hover {
        color: $text-white-color;
        text-decoration: underline;
      }
    }

    > * {
      margin-right: 20px;
      padding: 10px 0;
    }

  }

  .second-nav-bar {
    font-size: $size-sub-text;
    cursor: pointer;

    img {
      margin: 0 15px 10px 0;
      width: 90px;
    }

    i {
      color: $text-grey-color;
    }

    > * {
      padding: 10px 0;
    }

    div {
      padding: 18px 28px;

      &:hover{
        color: $text-black-color;
        background-color: $nav-hover-color;
      }
    }

  }

}
