// Var general
$jumbo-bg-image: "../img/hero-pe-8.jpg";
$first-section-bg-title: "../img/intro-top.jpg";
$first-section-bg-image: "../img/flow-icons-bg.png";
$size-sub-text: 13px;
$size-title: 28px;
$size-sub-title: 20px;

@mixin buy-now {
  background-color: $bg-buy-color;
  color: $text-white-color;
  padding: 10px 40px;
  font-size: 15px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $bg-buy-hover-color;
  }
}

@mixin main-title {
  font-size: 35px;
  font-weight: 700;
}

@mixin box-title {
  font-size: 40px;
  font-weight: 500;
}
